body{
    text-align: center;
    background-color: rgb(247, 247, 247);
}

/* Fonts */

h1{
    font-size: 48px;
}

/* Styles */
.main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px;
}

.settings{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    border: 2px solid black;
    border-radius: 4px;
}

button{
    width: 75px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 4px;
}

.size-settings{
    margin-top: 15px;
}

.container-sketch{
    border: 4px solid black;
    border-radius: 7px;
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-flow: column nowrap;
}

/* JavaScript */
.rows {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
}

.row-Elements{
    background-color: rgb(228, 228, 228);
    flex: 1 1 auto;
    margin: 0px;
}

.grid{
    border: 1px solid rgb(36, 36, 36);
}


@media (max-width: 900px){
    .container-sketch{
        width: 80vw;
        height: 80vw;
    }
}

@media (max-width: 550px){
    h1{
        font-size: 32px;
    }
    
    .settings{
        max-width: 80vw;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        gap: 15px;
        border: 2px solid black;
        border-radius: 4px;
    }

    button{
        min-width: 15vw;
    }
}
